<div class="container">
<% if current_user == @song.game.user %>
  <%= render "song-player", song: @song%>
<% end %>
  <h1>Buzzer Order</h1>
    <% @answers.each do |answer| %>
            <%#= answer.id%>
            <p>
              - <%= answer.users_game.user.nickname%>
              <%= answer.time %>
              <%= answer.result_status %>
              <% if current_user == @song.game.user %>
              <%= link_to accept_path(@song, answer), data: {turbo_method: :patch}, class: "text-decoration-none" do %>
                <i class="fa-solid fa-check"></i>
              <% end %>
              <%= link_to refuse_path(@song, answer), data: {turbo_method: :patch}, class: "text-decoration-none" do %>
                  <i class="fa-solid fa-xmark"></i>
              <% end %>
            </p>
          <% end %>
    <% end %>


<% if current_user == @song.game.user %>
  <div class=" d-flex justify-content-between flex-grow">

    <%= link_to "End game", game_path(@song.game, params: { status: 'finished' }), class:"btn_stroke_md" %>
    <%= link_to "Next song", song_answers_path(@song.id + 1), data: {turbo: false}, class:"btn_pink_md" %>
  </div>
<% else %>
  <%= link_to "Next Song", "/songs/#{@song.id + 1}/answers/new", class:"btn_pink_lg" %>
<% end %>

</div>
