<div class="container">
<% if current_user == @song.game.user %>
  <%= render "song-player", song: @song%>
<% end %>
<h1>Buzzer Order</h1>
<div data-controller="answers-index-subscription" data-answers-index-subscription-song-id-value="<%= @song.id %>">
  <div data-answers-index-subscription-target="answers">
    <% @answers.each do |answer| %>
      <%= render "answers", answer: answer, song: @song, game_master: current_user == @game.user %>
    <% end %>
  </div>
</div>

<% if current_user == @song.game.user %>
  <%= link_to "Next Song", song_answers_path(@song.id + 1), data: {turbo: false} %>
  <%= link_to "End Game", game_path(@song.game, params: { status: 'finished' }) %>
<% else %>
  <%= link_to "Next Song", "/songs/#{@song.id + 1}/answers/new", class:"btn_pink_lg" %>
<% end %>

</div>
