<div class="container">
<% if current_user == @song.game.user %>
  <%= render "song-player", song: @song%>
<% end %>
  <h1>Buzzer Order</h1>
  <ul>
    <% @answers.each do |answer| %>
        <li>
            <%= answer.id%>
            <%= answer.users_game.user.nickname%>
            <%= answer.time %>
            <%= answer.result_status %>
            <% if current_user == @song.game.user %>
            <%= link_to accept_path(@song, answer), data: {turbo_method: :patch}, class: "text-decoration-none" do %>
            <i class="fa-solid fa-check"></i>
            <% end %>
            <%= link_to refuse_path(@song, answer), data: {turbo_method: :patch}, class: "text-decoration-none" do %>
            <i class="fa-solid fa-xmark"></i>
            <% end %>
          <% end %>
        </li>
    <% end %>
  </ul>
  <%= link_to "Next Song", song_answers_path(@song.id + 1) %>
</div>
