<div class="container">
<% if current_user == @song.game.user %>
  <%= render "song-player", song: @song%>
<% end %>
<h1>Buzzer Order</h1>
<div
  data-controller="answers-index-subscription"
  data-answers-index-subscription-song-id-value="<%= @song.id %>"
  data-answers-index-subscription-current-user-id-value="<%= current_user.id %>"
  >
  <div data-answers-index-subscription-target="answers">
    <% @answers.each do |answer| %>
      <%= render "answers", answer: answer, song: @song %>
    <% end %>
  </div>
</div>

<% if current_user == @song.game.user %>
  <div class=" d-flex justify-content-between flex-grow">

    <%= link_to "End game", game_path(@song.game, params: { status: 'finished' }), class:"btn_stroke_md" %>
    <%= link_to "Next song", song_answers_path(@song.id + 1), data: {turbo: false}, class:"btn_pink_md" %>
  </div>
<% else %>
  <%= link_to "Next Song", "/songs/#{@song.id + 1}/answers/new", class:"btn_pink_lg" %>
<% end %>

</div>
