<div class="container">
<% if current_user == @song.game.user %>
  <%= render "song-player", song: @song%>
<% end %>
  <h1>Buzzer Order</h1>
  <ul>
    <% @answers.each do |answer| %>
        <li>
          <% if answer.result_status == "pending" %>
            <%= answer.id%>

            <%= answer.users_game.user.nickname%>
            <%= answer.time %>
           <p> <%= answer.result_status %> </p>
          <% end %>
        </li>
    <% end %>
  </ul>
  <%= link_to "Next Song", "/songs/#{@song.id + 1}/answers, class: "btn_pink_lg" %>
</div>
