<div class="m-1">
  <%# Les cards: %>
  <div class="info_card">
    <p>Please wait for the game master to start the game! You will be soon redirected.</p>
  </div>
  <br>
  <div class="my_card">
    <%= image_tag "https://res.cloudinary.com/dwvaux61b/image/upload/v1678368746/development/96kbjt8rge19v242mrkcg79ql085.jpg", class: "profil_round", alt: "my_profil" %>
    <div class="my_card_info">
      <h3>MichelleSardou</h3>
    </div>
  </div>

   <div class="player_card">
    <%= image_tag "https://res.cloudinary.com/dwvaux61b/image/upload/v1678368746/development/96kbjt8rge19v242mrkcg79ql085.jpg", class: "profil_round", alt: "my_profil" %>
    <div class="player_card_info d-flex justify-content-between">
      <p>AkonoJo</p>
      <p><strong>876</strong></p>
    </div>
  </div>

  <hr>
  <%# Les boutons : %>
  <%= link_to 'Bouton flat lg', "#", class: "btn_pink_lg"  %>

    <%= link_to 'Bouton stroke lg', "#", class: "btn_stroke_lg"  %>

    <div class=" d-flex justify-content-between flex-grow">
      <%= link_to 'Bouton stroke', "#", class: "btn_stroke_md"  %>
      <%= link_to 'Bouton flat', "#", class: "btn_pink_md"  %>
    </div>

  <hr>
  <%# Le top 3 : %>
  <div class="top_3_rank">

   <div class="avatar-highlight second">
      <%= image_tag "https://res.cloudinary.com/dwvaux61b/image/upload/v1678368746/development/96kbjt8rge19v242mrkcg79ql085.jpg", id: "profil_round_second", alt: "my_profil" %>
      <h3>2</h3>
    </div>

    <div class="avatar-highlight first">
      <%= image_tag "https://res.cloudinary.com/dwvaux61b/image/upload/v1678368746/development/96kbjt8rge19v242mrkcg79ql085.jpg", id: "profil_round_first", alt: "my_profil" %>
      <h3>1</h3>
    </div>

    <div class="avatar-highlight third">
      <%= image_tag "https://res.cloudinary.com/dwvaux61b/image/upload/v1678368746/development/96kbjt8rge19v242mrkcg79ql085.jpg", id: "profil_round_third", alt: "my_profil" %>
      <h3>3</h3>
    </div>
  </div>


</div>
