<div class="container-games-show">

  <%= image_tag "https://i.ibb.co/6wKKzwH/LOGO.png", alt: "logo" %>

  <h1 class="pt-5 pb-2"><%= game.name.capitalize %></h1>
  <p>Waiting for participants to join the game...</p>

  <div data-controller="game-subscription" data-game-subscription-game-id-value="<%= game.id %>" data-game-subscription-target="players">
    <% game.users_games.each do |user_game| %>
      <%= render "player", user_game: user_game %>
    <% end %>
  </div>

  <% if game.user == current_user %>
  <h2>Share this link with your friends!</h2>

  <div class="link_join_party d-flex justify-content-between">
    <i class="fa-solid fa-link"></i>
    <p>www.hymngame.online/games/<%= game.id %></p>
  </div>

  <div class="pt-3">
    <%= link_to 'Start Game', song_answers_path(game.songs.first, params: { status: 'ongoing' }), class: "btn_pink_lg" %>
  </div>

    <% else %>
      <p class="link_join_party"> Please wait for the game master to start the game! You will be soon redirected.</p>
    <% end %>
</div>
