 <div class="container-home p-2">

  <%= image_tag "https://i.ibb.co/6wKKzwH/LOGO.png", alt: "logo" %>

<h1>Create a new game</h1>
<h2>Select a playlist</h2>
<p>Choose a playlist of your own or select one from the public playlists. Try “Rock”, “60s”, “Top Songs”...</p>

<div class="search-box">
  <%= form_with url: new_game_path, method: :get, class: "form-inline d-flex", id:"search-form" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a Playlist.." %>
    <%= button_tag(type: 'submit', id:"search-btn") do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
</div>

<div data-controller="games">
  <div class="d-flex flex-wrap m-3">
    <% if params[:query].present? %>
      <% playlists = RSpotify::Playlist.search("#{params[:query]}").first(8) %>


      <% playlists.each do |playlist| %>
        <div data-action="click->games#playlist" uri="<%= playlist.uri %>" class='text-center col-6'>
          <p><%= playlist.name %></p>
          <img src="<%= playlist.images.first["url"] %>" width="100">
        </div>
      <% end %>
    <% end %>
  </div>
    <h2>Choose a name for this game</h2>
    <%= simple_form_for(@game) do |f| %>
      <%= f.input :name %>
      <%= f.input :spotify_playlist_id, as: :hidden, input_html: {
        value: "some value",
        data: { games_target: "input" }
        } %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
